.size{
    height:350px;
    width: 380px;
}
.card-img-top{
    padding-top: 20px;
    padding-left: 40px;
    height: 350px;
    width: 380px;
    border-radius: 20px 100px 0px 100px;
}
.row{
    margin-top: 40px;
}
.margin{
    margin-bottom: 3opx;
}