.size{
    height:350px;
    width: 380px;
}
.card-img-top{
    padding-top: 20px;
    padding-left: 40px;
    height: 350px;
    width: 380px;
    border-radius: 20px 100px 0px 100px;
}
.row{
    margin-top: 40px;
}
.margin{
    margin-bottom: 3opx;
}
.card1{
    margin-bottom: 30px;
}
.icon{
    height: 25px;
    width: 25px;
}
.btn{
    width:110px;
    margin: 20px 40px;
     background-color: #ffb3ff;
     border-radius: 5px;
     box-shadow: #acacac;
 } 
 .btn:hover{
    background-color: #ff4dff;
    box-shadow: 1px 1px 1px 1px #990099;
 }